.scp0:hover { background: rgb(39, 44, 43) !important; color: rgb(255, 255, 255) !important; }
.scp1:hover { background: rgb(21, 20, 20) !important; color: rgb(255, 255, 255) !important; border-color: rgb(21, 20, 20) !important; }
.scp2:hover { animation-play-state: paused !important; }
.scp3:hover { background: rgb(249, 235, 166) !important; color: rgb(21, 20, 20) !important; border-color: rgb(249, 235, 166) !important; }
.scp4:hover { color: rgb(255, 255, 255) !important; }
.scp5:hover { color: rgb(249, 235, 166) !important; }
